.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #88a17b;
  height: 150px;
  width: 100%;
  color: white;
  text-align: center;
}
