@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: Mulish;
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  position: absolute;
}

.header-name {
  color: #88a17b;
}

.header-container > h1 {
  padding: 25px;
  width: 50%;
  font-size: 50px;
  background-color: white;
  animation-name: intro;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
}

.learn-more {
  font-family: Mulish;
  width: 10em;
  height: 3em;
  padding: 10px;
  background-color: white;
  border: 2px solid #88a17b;
  color: #88a17b;
  font-size: 22px;
  animation-name: intro;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
}

.learn-more > a {
  color: #88a17b;
  text-decoration: none;
  transition: 0.5s;
  margin-left: 10px;
}

.learn-more a:after {
  content: "\003E";
  margin-left: 10px;
  size: 5em;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #88a17b;
}

.learn-more a:hover {
  padding-right: 15px;
}

.learn-more:hover a:after {
  opacity: 1;
  right: 0;
}

.sections-container {
  display: flex;
  flex-direction: column;
  top: 100vh;
  position: absolute;
  width: 100vw;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  background-color: #88a17b;
  /* background-image: linear-gradient(to bottom right, #88a17b, #c5deb7); */
  top: 100vh;
  width: 100vw;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 32.5vw;
  color: white;
  padding: 45px;
  position: inherit;
  /* background-color: pink; */
}

.about-me-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  height: 100%;
}

.profile-pic {
  height: auto;
  width: 95%;
  min-width: 95%;
  border-radius: 10px;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 32.5vw;
  color: white;
  /* background-color: black; */
}

.technologies-description {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 35vw;
  color: white;
  padding: 30px;
  position: inherit;
}

.resume-link {
  text-decoration: none;
  color: rgb(1, 56, 1);
}

.resume-link:hover {
  color: white;
  cursor: pointer;
}

.projects-container {
  height: 75vh;
  background-color: pink;
  width: 100vw;
}

@keyframes intro {
  0% {
    margin-right: 150%;
  }
  100% {
    margin-right: 0%;
  }
}
