@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: Mulish;
  background-color: #fefefc;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fefefc;
  position: absolute;
}

.header-name {
  color: #88a17b;
}

.header-container > h1 {
  padding: 25px;
  width: 50%;
  font-size: 50px;
  background-color: #fefefc;
  animation-name: intro;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
}

.learn-more {
  font-family: Mulish;
  width: 10em;
  height: 3em;
  padding: 10px;
  background-color: #fefefc;
  border: 2px solid #88a17b;
  color: #88a17b;
  font-size: 22px;
  animation-name: intro;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
}

.learn-more > a {
  color: #88a17b;
  text-decoration: none;
  transition: 0.5s;
  margin-left: 10px;
}

.learn-more a:after {
  content: "\003E";
  margin-left: 10px;
  size: 5em;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #88a17b;
}

.learn-more a:hover {
  padding-right: 15px;
}

.learn-more:hover a:after {
  opacity: 1;
  right: 0;
}

.sections-container {
  display: flex;
  flex-direction: column;
  top: 100vh;
  position: absolute;
  width: 100vw;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #88a17b;
  top: 100vh;
  width: 100vw;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 50vw;
  color: white;
  padding: 45px;
  position: inherit;
  text-align: center;
}

#dark-green-text {
  color: #24301e;
}

.about-me-picture {
  display: flex;
  flex-direction: column;
  width: 30vw;
  /* height: 80vh; */
}

.profile-pic {
  width: 95%;
  min-width: 95%;
  border-radius: 50%;
  box-shadow: 0px 3px 2px #24301e;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 225vh;
  width: 100vw;
  background-color: #fefefc;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 47.5vh;
  color: rgb(1, 56, 1);
}

.technologies-container > h2 {
  align-self: center;
  font-size: 45px;
  padding-top: 25px;
}

.technology-section {
  display: flex;
  flex-direction: column;
}

figure {
  text-align: center;
  color: rgb(1, 56, 1);
}

.technology-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  height: 75px;
}

.projects-container > h2 {
  height: 5vh;
  margin: 50px;
  font-size: 45px;
  color: rgb(1, 56, 1);
}

.individual-project-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 30vw;
  margin-right: 2.5%;
}

.project-image {
  width: 110%;
  border-radius: 5px;
  border: 1px solid #88a17b;
  /* padding-top: 2px; */
}

.project-side-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 95%;
  width: 55vw;
}

.project-description {
  width: 85%;
}

.project-description > h3 {
  font-size: 32.5px;
  color: rgb(1, 56, 1);
}

.project-description > p {
  color: #88a17b;
  font-size: 18px;
}

.project-3 {
  margin-bottom: 50px;
}

.project-links-container {
  margin: 0px;
  padding: 0;
}

.project-links-container > p {
  color: #88a17b;
}

.project-links > a {
  text-decoration: none;
  color: rgb(1, 56, 1);
}

.project-links > a:hover {
  color: #88a17b;
}

@keyframes intro {
  0% {
    margin-right: 150%;
  }
  100% {
    margin-right: 0%;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #fefefc;
    position: absolute;
  }

  .header-name {
    color: #88a17b;
  }

  .header-container > h1 {
    padding: 5px;
    width: 80vw;
    font-size: 30px;
    background-color: #fefefc;
    animation-name: intro;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
  }

  .learn-more {
    font-family: Mulish;
    width: 150px;
    height: 2.5em;
    padding: 5px;
    background-color: #fefefc;
    border: 2px solid #88a17b;
    color: #88a17b;
    font-size: 18px;
    animation-name: intro;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
  }

  .learn-more > a {
    margin-left: 10px;
  }

  .learn-more a:after {
    content: none;
    margin-left: 10px;
    size: 0em;
    right: 0px;
  }

  .sections-container {
    display: flex;
    flex-direction: column;
    top: 100vh;
    position: absolute;
    width: 100vw;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #88a17b;
    top: 100vh;
    width: 100vw;
  }

  .about-me-description {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 90vw;
    color: white;
    padding: 5px;
    position: inherit;
    text-align: center;
  }

  #dark-green-text {
    color: #24301e;
  }

  .about-me-picture {
    display: flex;
    flex-direction: column;
    width: 45vw;
  }

  .profile-pic {
    width: 95%;
    min-width: 95%;
    border-radius: 5%;
    box-shadow: 0px 3px 2px #24301e;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 365vh;
    width: 100vw;
    background-color: #fefefc;
  }

  .technologies-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    color: rgb(1, 56, 1);
  }

  .technologies-container > h2 {
    align-self: center;
    font-size: 22.5px;
    padding-top: 25px;
  }

  .technology-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  figure {
    text-align: center;
    color: rgb(1, 56, 1);
  }

  .technology-img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image {
    height: 50px;
  }

  figcaption {
    font-size: 10px;
  }

  .projects-container > h2 {
    margin-top: 25vh;
    font-size: 22.5px;
    color: rgb(1, 56, 1);
  }

  .projects-container > .individual-project-container {
    justify-content: flex-start;
  }

  .individual-project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 78vh;
    padding-bottom: 10px;
  }

  .project-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    margin-right: 0;
  }

  .project-image {
    height: auto;
    width: 90vw;
    border-radius: 5px;
    border: 1px solid #88a17b;
  }

  .project-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    height: 25vw;
    width: 80vw;
    padding-bottom: 0;
  }

  .project-description {
    width: 100%;
  }

  .project-description > h3 {
    font-size: 20px;
    color: rgb(1, 56, 1);
  }

  .project-description > p {
    color: #88a17b;
    font-size: 16px;
    margin: 7.5px;
  }

  .project-3 {
    margin-bottom: 25px;
  }

  .project-links-container {
    margin: 0px;
    padding: 0;
  }

  .project-links-container > p {
    color: #88a17b;
  }

  .project-links > a {
    text-decoration: none;
    color: rgb(1, 56, 1);
  }
}

@media only screen and (min-width: 481px) and (max-width: 1494px) {
  .learn-more {
    width: 9em;
    height: 2.5em;
  }

  .about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #88a17b;
    top: 100vh;
    width: 100vw;
  }

  .about-me-description {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    width: 50vw;
    color: white;
    padding: 45px;
    position: inherit;
    text-align: center;
  }

  .about-me-picture {
    width: 32.5vw;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 230vh;
    width: 100vw;
    background-color: #fefefc;
  }

  .technologies-container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 45vh;
    color: rgb(1, 56, 1);
  }

  .technologies-container > h2 {
    align-self: center;
    font-size: 42.5px;
    padding-top: 25px;
  }

  .image {
    height: 50px;
  }

  .projects-container > h2 {
    padding-top: 25px;
    margin: 50px;
    font-size: 42.5px;
    color: rgb(1, 56, 1);
  }

  .individual-project-container {
    height: 60vh;
  }

  .project-description > h3 {
    font-size: 30px;
  }

  .project-description > p {
    font-size: 18px;
  }
}
